.header
  position: absolute
  left: 0
  right: 0
  top: 0
  z-index: 9
  background: white
  &__wrapper
    display: flex
    align-items: center
    padding: 27px 0

  &__logo
    font-size: 0
    img
      max-width: 100%

  &__phone
    display: inline-block
    border-left: 1px solid #979797
    margin-left: 27px
    padding-left: 27px
    font-size: 11px
    color: $fontColor
    font-weight: 500
    line-height: 1.45
    transform: translateY(4px)
    transition: opacity .25s $ease
    > span
      display: inline-block
      transform: translateY(1px)
    &-tel
      display: block
      color: $colorBlue
      transition: .25s $ease
    &:hover
      .header__phone-tel
        color: $colorGreen

  &__menu
    margin: 0 0 0 auto
    padding: 0
    color: $fontColorGray
    font-size: 13px
    opacity: 1
    transition: opacity .25s $ease
    li
      margin-right: 60px
      &:last-child
        margin-right: 0
      a:not(.btn)
        display: inline-block
        padding: 10px
        transition: color .25s $ease
        &.is-active, &:hover
          // color: $fontColor
          color: $colorBlue
        &.is-active
          font-weight: 500
  &__hamburger
    margin-left: 25px
    span
      margin-left: 5px
      display: inline-block
      font-size: 10px
      padding: 5px
      border: 1px solid black

  &--logo-only
    .header
      &__phone, &__menu
        opacity: 0
        pointer-events: none
