.home

.home-hero
  position: relative
  > .container
    position: relative
    z-index: 2
  &__wrapper
    padding-top: 100px
    padding-bottom: 60px
    // show logos on first screen
    min-height: calc(100vh - 111px)
    display: flex
    flex-direction: column
    justify-content: center
    max-width: 600px
  h1
    margin-bottom: .5em
  &__desc
    color: $fontColorGray
    font-size: 16px
    span
      color: $fontColor
  &__form
    margin-top: 80px

  &__bg
    position: absolute
    z-index: 1
    // left: 0
    // width: 100%
    right: 0
    width: 50%
    bottom: 0
    font-size: 0
    // display: flex
    // justify-content: flex-end
    pointer-events: none
    user-select: none
    img
      max-width: 100%

+r($mobile)
  .home-hero
    &__form
      margin-top: 45px

.home-logos
  position: relative
  z-index: 2
  background: #FAFBFF
  padding: 15px 0
  &__wrapper
    display: flex
    align-items: center
    justify-content: center
  &__name
    flex: 0 0 auto
    font-size: 15px
    color: $fontColorGray
    margin-right: 35px

  &__list
    display: flex
    // align-items: center
    > div
      display: flex !important
      align-items: center
  &__el
    position: relative
    flex: 1 0 auto
    padding: 15px 19px
    font-size: 0

+r($desktop)
  .home-logos
    &__wrapper
      flex-wrap: wrap
      flex-direction: column
    &__name
      margin-right: 0
      margin-top: 10px
      margin-bottom: 20px
    &__list
      flex-wrap: wrap
      justify-content: center

+r($mobile)
  .home-logos
    &__list
      // margin-left: -20px
      // margin-right: -20px
      > div
        flex: 0 1 50%
        max-width: 50%
    &__el
      display: flex
      justify-content: center
      padding: 20px 15px
    &__name
      font-size: 13px


.home-promo
  &__wrapper
    display: flex
    align-items: center
    margin-left: -15px
    margin-right: -15px
  &__left
    flex: 0 1 50%
    max-width: 50%
    min-width: 1px
    min-height: 0
    padding: 0 15px
    transform: translate(-60px, -20px)
  &__right
    flex: 0 1 50%
    max-width: 50%
    min-width: 1px
    min-height: 0
    padding: 35px 15px 0


/* Home benefits
.home-benefits
  margin-top: 120px
  &__tabs
    margin-top: 55px

  &__content
    position: relative
    overflow: hidden
    display: flex
    padding: 90px 30px 70px
    margin-left: -15px
    margin-right: -15px
    &::after
      background: url('../images/circles-bg.png') no-repeat right bottom
      background-size: auto 100%
      display: inline-block
      content: ' '
      position: absolute
      z-index: 1
      right: 15px
      bottom: 0
      top: 0
      left: 15px
      // width: 705px
    &-left
      position: relative
      z-index: 2
      flex: 0 1 45%
      max-width: 45%
      min-width: 1px
      min-height: 0
      padding: 0 15px
      display: flex
      flex-direction: column
    &-right
      position: relative
      z-index: 2
      flex: 0 1 55%
      max-width: 55%
      min-width: 1px
      min-height: 0
      padding: 0 15px
      .testimonial
        margin: 35px 0 40px
    h3
      span
        color: $colorGreen
      &.for-mobile
        display: none

  &__list
    list-style: none
    margin: 0 auto
    padding: 0
    width: auto

    li
      display: flex
      align-items: center
      margin-bottom: 15px
      &.is-disabled
        opacity: .15
        .home-benefits__list-icon
          background: $fontColorGray
    &-icon
      flex: 0 0 auto
      display: flex
      align-items: center
      justify-content: center
      background: $colorGreen
      border-radius: 50%
      size: 26px
      margin-right: 20px
      color: white
      /* aos
      opacity: 0
      transform: scale(0.5)
      .ico
        font-size: 11px
        transform: translate(.5px,0)
    span
      flex: 0 1 auto
      display: inline-block
      font-size: 14px
      font-weight: 300
      opacity: 0
      transform: translate3d(-10px, 0, 0)

    &-icon, span
      transition-property: opacity,transform
      transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715)
      transition-duration: 350ms

+r($tablet)
  .home-benefits
    margin-top: 90px
    &__content
      flex-direction: column
      padding: 30px
      &::after
        display: none
      &-left
        flex: 0 0 auto
        max-width: 100%
      &-right
        flex: 0 0 auto
        max-width: 100%
        .testimonial
          margin-bottom: 20px

      h3
        display: none
        &.for-mobile
          display: block

    &__tabs

    &__slider
      /* contatiner
      position: relative
      overflow: hidden
      margin-left: -40px
      margin-right: -40px
      list-style: none
      padding: 0
      z-index: 1
      &-next, &-prev
        position: absolute
        z-index: 2
        top: 28px
        background-repeat: no-repeat
        background-size: contain
        size: 12px 16px
        font-size: 0
        cursor: pointer
        transition: .25s $ease
        &:hover:not(.swiper-button-disabled)
          opacity: .8
        &.swiper-button-disabled
          filter: grayscale(1)
          opacity: .2
          cursor: not-allowed

      &-next
        right: 40px
        background-image: svg-load('../images/icons/right-arrow.svg')

      &-prev
        left: 40px
        background-image: svg-load('../images/icons/back-arrow.svg')


    &__slide
      padding-left: 40px
      padding-right: 40px
      padding-bottom: 30px

      &-name
        text-align: center
        font-size: 14px
        font-weight: 500
        margin: 30px 40px

    &__list
      margin-left: 0
      margin-top: 25px
      li
        &.is-disabled
          display: none

+r($mobile)
  .home-benefits
    // margin-top: 90px
    &__content
      padding: 15px
      &-right

    &__slider
      margin-left: -20px
      margin-right: -20px
    &__slide
      padding-left: 20px
      padding-right: 20px

    &__list
      li
        span
          font-size: 12px


// .home-features
//   margin: 180px 0
//   &__bg-holder
//     position: relative
//     &::before
//       display: inline-block
//       content: ' '
//       position: absolute
//       z-index: 1
//       top: 50%
//       left: 0
//       right: 0
//       height: 60%
//       background: $lightBg
//       transform: translateY(-50%)
//   &__wrapper
//     position: relative
//     z-index: 2
//     display: flex
//     flex-wrap: wrap
//     margin-left: -15px
//     margin-right: -15px
//     margin-top: 35px
//   &__col
//     padding: 10px 15px
//     flex: 0 1 50%
//     max-width: 50%
//     min-width: 1px
//     min-height: 0
//
//   &-card
//     padding: 30px 25px
//     background: #FFFFFF
//     box-shadow: 0 0 30px 0 rgba(0,0,0,0.05)
//     border-radius: 3px
//     display: flex
//     align-items: center
//     &__image
//       flex: 0 1 40%
//       max-width: 40%
//       background: $lightBg
//       text-align: center
//       min-height: 240px
//       img
//         max-width: 100%
//     &__content
//       flex: 0 1 60%
//       max-width: 60%
//       padding-left: 25px
//       p
//         font-size: 14px
//         line-height: 1.42
//         color: $fontColorGray
//     &__name
//       font-size: 18px
//       font-weight: 500
//       margin: 1em 0


.home-features
  margin: 180px 0
  &__bg-holder
    position: relative
    &::before
      display: inline-block
      content: ' '
      position: absolute
      z-index: 1
      bottom: 0
      left: 0
      right: 0
      background: $lightBg
      height: 220px
      // height: 85%
      // transform: translateY(43%)
  &__wrapper
    position: relative
    z-index: 2
    display: flex
    flex-wrap: wrap
    margin-left: -15px
    margin-right: -15px
    padding-bottom: 80px
    margin-top: 35px
  &__col
    padding: 10px 15px
    flex: 0 1 25%
    max-width: 25%
    min-width: 1px
    min-height: 0

  &-card
    padding: 45px 15px 30px
    background: #FFFFFF
    box-shadow: 0 0 30px 0 rgba(0,0,0,0.05)
    border-radius: 3px
    &__image
      // background: $lightBg
      text-align: center
      min-height: 60px
      margin-left: auto
      margin-right: auto
      display: flex
      align-items: center
      justify-content: center
      img
        max-width: 100%
    &__content
      margin-top: 35px
      text-align: center
      max-width: 220px
      margin-left: auto
      margin-right: auto
      p
        font-size: 14px
        line-height: 1.42
        color: $fontColorGray
    &__name
      font-size: 18px
      font-weight: 500
      margin: 1em 0

+r($desktop)
  .home-features
    margin: 120px 0
    &__bg-holder
      &::before
        top: 50%
        bottom: auto
        height: 300px
        transform: translateY(-50%)
    &__wrapper
      padding-bottom: 0
    &__col
      flex-basis: 50%
      max-width: 50%

+r($mobile)
  .home-features
    margin: 70px 0 100px
    &__bg-holder
      &::before
        display: none
    &__wrapper
      padding-bottom: 0
    .t-center
      text-align: left
    &__col
      flex-basis: 100%
      max-width: 100%
    &-card
      display: flex
      align-items: center
      padding: 25px 15px
      &__content
        margin-top: 0
        margin-left: 20px
        text-align: left
        p
          margin: 0
      &__image
        margin-left: 0
        margin-right: 0
      &__name
        margin: 0 0 .5em





.home-benefits
  &__list
    /* blank class in html
    /* used as scrollmonitor for custom animation
    &.aos-animate
      /* show active one by one
      li:not(.is-disabled)
        .home-benefits__list-icon
          opacity: 1
          transform: translateZ(0) scale(1)
        span
          opacity: 1
          transform: translateZ(0)
        &:nth-child(1)
          .home-benefits__list-icon, span
            transition-delay: .1s
        &:nth-child(2)
          .home-benefits__list-icon, span
            transition-delay: .15s
        &:nth-child(3)
          .home-benefits__list-icon, span
            transition-delay: .2s
        &:nth-child(4)
          .home-benefits__list-icon, span
            transition-delay: .25s
        &:nth-child(5)
          .home-benefits__list-icon, span
            transition-delay: .3s
        &:nth-child(6)
          .home-benefits__list-icon, span
            transition-delay: .35s
        &:nth-child(7)
          .home-benefits__list-icon, span
            transition-delay: .4s
        &:nth-child(8)
          .home-benefits__list-icon, span
            transition-delay: .45s
        &:nth-child(9)
          .home-benefits__list-icon, span
            transition-delay: .5s
        &:nth-child(10)
          .home-benefits__list-icon, span
            transition-delay: .55s
      /* shpw not active all by group
      li.is-disabled
        .home-benefits__list-icon
          opacity: 1
          transform: translateZ(0) scale(1)
        span
          opacity: 1
          transform: translateZ(0)
      &[data-active-index="1"]
        li.is-disabled
          .home-benefits__list-icon, span
            transition-delay: .2s
      &[data-active-index="2"]
        li.is-disabled
          .home-benefits__list-icon, span
            transition-delay: .25s
      &[data-active-index="3"]
        li.is-disabled
          .home-benefits__list-icon, span
            transition-delay: .3s
      &[data-active-index="4"]
        li.is-disabled
          .home-benefits__list-icon, span
            transition-delay: .35s
      &[data-active-index="5"]
        li.is-disabled
          .home-benefits__list-icon, span
            transition-delay: .4s
      &[data-active-index="6"]
        li.is-disabled
          .home-benefits__list-icon, span
            transition-delay: .45s
      &[data-active-index="7"]
        li.is-disabled
          .home-benefits__list-icon, span
            transition-delay: .5s
      &[data-active-index="8"]
        li.is-disabled
          .home-benefits__list-icon, span
            transition-delay: .55s
      &[data-active-index="9"]
        li.is-disabled
          .home-benefits__list-icon, span
            transition-delay: .6s
      &[data-active-index="10"]
        li.is-disabled
          .home-benefits__list-icon, span
            transition-delay: .65s
