
.title-section
  margin: 120px 0
  &__wrapper
    text-align: center
    max-width: 450px
    margin-left: auto
    margin-right: auto

+r($desktop)
  .title-section
    margin: 100px 0


+r($tablet)
  .title-section
    margin: 0
    padding: 55px 0 40px
    background: #F6F7FB
    &__wrapper
      margin-left: 0
      text-align: left

.learn-more
  font-size: 12px
  font-weight: 500
  color: $colorBlue
  cursor: pointer
  transition: color .25s $ease
  .ico
    font-size: 11px
    margin-left: 5px
    transform: translate(0, 1px)
    transition: transform .25s $ease
  &:hover
    color: $colorGreen
    .ico
      transform: translate(3px, 1px)

.people
  margin: 120px 0 140px 0
  &__wrapper
    display: flex
    align-items: center
    margin-left: -15px
    margin-right: -15px

  &__left
    flex: 0 1 58%
    max-width: 58%
    min-width: 1px
    min-height: 0
    padding: 0 15px

  &__right
    flex: 0 1 42%
    max-width: 460px
    min-width: 1px
    min-height: 0
    padding: 0 15px

  &__content
    padding-right: 40px

  &__image
    transform: translateX(-30px)
    img
      // max-width: 100%
      width: 100%

  &__person
    margin: 40px 0
    &:last-child
      margin-bottom: 0
    &-title
      font-size: 16px
      color: $fontColorGray
      span
        color: $fontColor
        font-weight: 500
    &-description
      font-size: 14px
      color: $fontColorGray
      line-height: 1.42
      margin-top: 12px

+r($desktop)
  .people
    &__left

    &__image
      transform: translateX(-45px)
      margin-right: -45px

+r($tablet)
  .people
    margin: 0 0 100px
    &__wrapper
      flex-direction: column
      // margin: 0
    &__left
      flex: 0 0 auto
      max-width: 100%
    &__right
      flex: 0 0 auto
      max-width: 100%
      padding: 0 55px
      margin-top: 30px
    &__image
      transform: translate(0,0)
      margin-right: 0

    &__list
      display: flex
      flex-wrap: wrap
      margin-left: -15px
      margin-right: -15px

    &__person
      padding: 0 15px

+r($mobile)
  .people
    &__right
      padding: 0 35px
    &__content
      padding-right: 0
    &__person
      &:first-child
        margin-top: 30px
