$sprite: (
	cabin-logo: (
		offset-x: -121px,
		offset-y: -75px,
		width: 111px,
		height: 27px,
		total-width: 272px,
		total-height: 250px,
		image: '../images/sprite.png'
	),
	clientLogo-bbounce: (
		offset-x: -107px,
		offset-y: -117px,
		width: 99px,
		height: 33px,
		total-width: 272px,
		total-height: 250px,
		image: '../images/sprite.png'
	),
	clientLogo-canny: (
		offset-x: -118px,
		offset-y: 0px,
		width: 154px,
		height: 38px,
		total-width: 272px,
		total-height: 250px,
		image: '../images/sprite.png'
	),
	clientLogo-elements: (
		offset-x: 0px,
		offset-y: -161px,
		width: 94px,
		height: 28px,
		total-width: 272px,
		total-height: 250px,
		image: '../images/sprite.png'
	),
	clientLogo-grain: (
		offset-x: 0px,
		offset-y: -75px,
		width: 111px,
		height: 32px,
		total-width: 272px,
		total-height: 250px,
		image: '../images/sprite.png'
	),
	clientLogo-poh: (
		offset-x: 0px,
		offset-y: -199px,
		width: 42px,
		height: 51px,
		total-width: 272px,
		total-height: 250px,
		image: '../images/sprite.png'
	),
	clientLogo-seventeen: (
		offset-x: 0px,
		offset-y: -117px,
		width: 97px,
		height: 34px,
		total-width: 272px,
		total-height: 250px,
		image: '../images/sprite.png'
	),
	rifeng-sign: (
		offset-x: 0px,
		offset-y: 0px,
		width: 108px,
		height: 65px,
		total-width: 272px,
		total-height: 250px,
		image: '../images/sprite.png'
	),
);


@mixin sprite-size($image) {
	background-size: map-get(map-get($sprite, $image), 'total-width') map-get(map-get($sprite, $image), 'total-height');
}

@mixin sprite-width($image) {
	width: map-get(map-get($sprite, $image), 'width');
}

@mixin sprite-height($image) {
	height: map-get(map-get($sprite, $image), 'height');
}

@mixin sprite-position($image) {
	background-position: map-get(map-get($sprite, $image), 'offset-x') map-get(map-get($sprite, $image), 'offset-y');
}

@mixin sprite-image($image) {
	background-image: url(map-get(map-get($sprite, $image), 'image'));
}

@mixin sprite-image-retina($image) {
	$image-path: map-get(map-get($sprite, $image), 'image');
	$image-path-retina: str-slice($image-path, 1, str-index($image-path, '.png') - 1) + '@2x.png';

	background-image: url($image-path-retina);
}

@mixin sprite($image, $size: true) {
	@include sprite-image($image);
	@include sprite-position($image);
	background-repeat: no-repeat;

	@if $size {
		@include sprite-width($image);
		@include sprite-height($image);
	}

	@media
		only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (   min--moz-device-pixel-ratio: 2),
		only screen and (     -o-min-device-pixel-ratio: 2/1),
		only screen and (        min-device-pixel-ratio: 2),
		only screen and (                min-resolution: 192dpi),
		only screen and (                min-resolution: 2dppx) {

		@include sprite-size($image);
		@include sprite-image-retina($image);

	}
}



	.icon-cabin-logo {
		@include sprite(cabin-logo)
	}
	.icon-clientLogo-bbounce {
		@include sprite(clientLogo-bbounce)
	}
	.icon-clientLogo-canny {
		@include sprite(clientLogo-canny)
	}
	.icon-clientLogo-elements {
		@include sprite(clientLogo-elements)
	}
	.icon-clientLogo-grain {
		@include sprite(clientLogo-grain)
	}
	.icon-clientLogo-poh {
		@include sprite(clientLogo-poh)
	}
	.icon-clientLogo-seventeen {
		@include sprite(clientLogo-seventeen)
	}
	.icon-rifeng-sign {
		@include sprite(rifeng-sign)
	}
